* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 10vh;
  width: 100%;
  background-color: #000;
  margin: 0 auto;
}

body {
  font-family: "Lato";
  background-color: #000;
  color: #f4a261;
}

/* header style */
#spaceXicon {
  fill: #fff;
}

#logo-box {
  height: 80%;
  margin: 0 auto;
  text-align: center;
}
#logo-box svg {
  height: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

#map {
  height: 80vh;
  margin: 5vh 0;
}

#cityInfo {
  text-align: center;
  /* height: 80vh; */
  margin: 5vh 0;
}

#cityInfo h1,
#cityInfo h2 {
  text-align: center;
}

#cityInfo h1 {
  font-size: 2.5em;
}

#cityInfo h2 {
  font-size: 2em;
  margin-top: 50px;
}

#cityNameInput {
  width: 50%;
  height: 50px;
  border-radius: 10px;
  border-color: #f4a261;
  box-shadow: 0 0 8px 1px #f4a261;
  color: #000;
  font-size: 16px;
  padding-left: 15px;
}

#userInput {
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#checkWeather,
#enableLanding {
  height: 50px;
  border-radius: 10px;
  background-color: #f4a261;
  font-size: 1.5em;
  color: #fff;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
}

#cityName::placeholder {
  color: #bbbbbb;
}

#cityName:focus::placeholder {
  color: transparent;
}

#weatherInfo {
  width: 80%;
  margin: 20px auto;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2em;
}

#weatherInfo h3 {
  margin-top: 10px;
}

span {
  color: #fff;
}

#landing_instructions {
  margin-top: 30px;
}

#landingAdvice {
  color: #1ce878;
  font-size: 24px;
  margin: 10px 0;
}

.faded_button {
  opacity: 50%;
}

.advise_red {
  color: #f51d6e !important;
}
